.promo {
	background-color: $first;
}

.promo__wrap {
	display: flex;
	justify-content: space-between;

	padding-top: 140px;
	padding-bottom: 70px;
}

.promo__about {
	max-width: 560px;
	margin-right: 30px;
}

.promo__title {
	margin: 0;
	margin-bottom: 35px;
	& span {
		display: block;
	}
}

.promo__text {
	margin: 0;
	margin-bottom: 55px;
}

.promo__link {
	@include button();
	display: inline-block;
}

@media (max-width: 960px) {
	.promo__wrap {
		flex-direction: column;
	}

	.promo__about {
		max-width: 100%;
		margin-right: 0;
		margin-bottom: 50px;
		text-align: center;
	}

	.promo__order.order {
		width: 100%;

		& .order__form__wrap input {
			width: 47%;
		}
	}
}

@media (max-width: 580px) {
	.promo__order.order {
		& .order__form__wrap input {
			width: 100%;
		}
	}
}
